[submodule "vimfiles/pack/plugins/start/auto-pairs"]
	path = vimfiles/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vimfiles/pack/plugins/start/nerdtree"]
	path = vimfiles/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/pack/plugins/start/tabular"]
	path = vimfiles/pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/pack/plugins/start/tcomment_vim"]
	path = vimfiles/pack/plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimfiles/pack/plugins/start/vim-easymotion"]
	path = vimfiles/pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimfiles/pack/plugins/start/vim-endwise"]
	path = vimfiles/pack/plugins/start/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vimfiles/pack/plugins/start/vim-fugitive"]
	path = vimfiles/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/pack/plugins/start/vim-surround"]
	path = vimfiles/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/pack/plugins/start/vim-textobj-user"]
	path = vimfiles/pack/plugins/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vimfiles/pack/plugins/start/vim-unimpaired"]
	path = vimfiles/pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/pack/plugins/start/vim-repeat"]
	path = vimfiles/pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/pack/plugins/start/vim-ruby"]
	path = vimfiles/pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/pack/plugins/start/vim-javascript"]
	path = vimfiles/pack/plugins/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/pack/plugins/start/vim-ragtag"]
	path = vimfiles/pack/plugins/start/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/pack/plugins/start/vim-exchange"]
	path = vimfiles/pack/plugins/start/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vimfiles/pack/plugins/start/vim-textobj-lastpat"]
	path = vimfiles/pack/plugins/start/vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "vimfiles/pack/plugins/start/jdaddy.vim"]
	path = vimfiles/pack/plugins/start/jdaddy.vim
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vimfiles/pack/plugins/start/emmet-vim"]
	path = vimfiles/pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vimfiles/pack/plugins/start/ctrlp.vim"]
	path = vimfiles/pack/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimfiles/pack/plugins/start/ale"]
	path = vimfiles/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vimfiles/pack/plugins/start/typescript-vim"]
	path = vimfiles/pack/plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/pack/plugins/start/vim-html-template-literals"]
	path = vimfiles/pack/plugins/start/vim-html-template-literals
	url = https://github.com/jonsmithers/vim-html-template-literals.git
[submodule "vimfiles/pack/plugins/start/targets.vim"]
	path = vimfiles/pack/plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vimfiles/pack/plugins/start/vim-projectionist"]
	path = vimfiles/pack/plugins/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vimfiles/pack/plugins/start/vim-indent-object"]
	path = vimfiles/pack/plugins/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vimfiles/pack/plugins/start/vim-jsx-pretty"]
	path = vimfiles/pack/plugins/start/vim-jsx-pretty
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
[submodule "vimfiles/pack/plugins/start/vim-elixir"]
	path = vimfiles/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vimfiles/pack/plugins/start/vim-lister"]
	path = vimfiles/pack/plugins/start/vim-lister
	url = https://github.com/tommcdo/vim-lister.git
[submodule "vimfiles/pack/plugins/start/vim-wheel"]
	path = vimfiles/pack/plugins/start/vim-wheel
	url = https://github.com/preservim/vim-wheel.git
[submodule "vimfiles/pack/plugins/start/vim-resize-mode"]
	path = vimfiles/pack/plugins/start/vim-resize-mode
	url = https://github.com/sedm0784/vim-resize-mode.git
