[submodule "vimfiles/bundle/auto-pairs"]
	path = vimfiles/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/tcomment_vim"]
	path = vimfiles/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/vim-easymotion"]
	path = vimfiles/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "vimfiles/bundle/vim-endwise"]
	path = vimfiles/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-textobj-user"]
	path = vimfiles/bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "vimfiles/bundle/vim-unimpaired"]
	path = vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-ruby"]
	path = vimfiles/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-ragtag"]
	path = vimfiles/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "vimfiles/bundle/vim-exchange"]
	path = vimfiles/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "vimfiles/bundle/vim-textobj-lastpat"]
	path = vimfiles/bundle/vim-textobj-lastpat
	url = https://github.com/kana/vim-textobj-lastpat.git
[submodule "vimfiles/bundle/jdaddy.vim"]
	path = vimfiles/bundle/jdaddy.vim
	url = https://github.com/tpope/vim-jdaddy.git
[submodule "vimfiles/bundle/emmet-vim"]
	path = vimfiles/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vimfiles/bundle/ale"]
	path = vimfiles/bundle/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vimfiles/bundle/typescript-vim"]
	path = vimfiles/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/vim-html-template-literals"]
	path = vimfiles/bundle/vim-html-template-literals
	url = https://github.com/jonsmithers/vim-html-template-literals.git
[submodule "vimfiles/bundle/targets.vim"]
	path = vimfiles/bundle/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule "vimfiles/bundle/vim-projectionist"]
	path = vimfiles/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vimfiles/bundle/vim-indent-object"]
	path = vimfiles/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
